name: Sync Labels
on:
  workflow_call:
  issues:
    types:
      - opened
      - labeled
  pull_request:
    types:
      - opened
      - labeled
# Declare default permissions as none.
permissions: {}
jobs:
  sync-labels:
    permissions:
      issues: write
    runs-on: ubuntu-latest
    name: Sync Labels
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Set Labels
        # yamllint disable-line rule:line-length
        uses: outoforbitdev/action-label-manager@f64cd32dd7a7d815dede80051cfd67d6dc667052 # v0.0.3
        id: set-labels
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}
          labels-file: .labels.json
