name: Create Release
permissions: {}
on:
  workflow_call: {}
  push:
    branches:
      - main
      - beta
      - dev
      - staging
jobs:
  release:
    runs-on: ubuntu-latest
    name: Create Github Release
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
      - name: Create Release
        # yamllint disable-line rule:line-length
        uses: outoforbitdev/action-release-changelog@a9aa3f7f87d3955e1c07f1decfe6df72d8b44cbf # v0.0.11
        id: semantic-release
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
